<footer class="back-orange">
    <div class="row">
        <div class="small-12 columns align-center">
            <h2>Making use of quizzes for educational purposes!</h2>
        </div>
    </div>
</footer>