<footer class="back-black">
    <div class="row">
        <div class="small-12 columns align-center">
            <h3><%= link_to "Visit the Quizzes website", root_path, class: "link quizzes-orange" %></h3>
        </div>
    </div>
</footer>