<footer class="back-orange">
    <div class="row">
        <div class="small-12 columns align-center">
            <ul class="bottom-bar">
            
                <h3><%= link_to "Visit the Quizzes website", root_path, class: "link" %></h3>
            </ul>
        </div>
    </div>
</footer>