<header class="sticky back-orange">
    <div class="row">
        <div class="small-4 small-offset-4 columns end align-center">
            <%= link_to image_tag("https://www.facebook.com/images/fb_icon_325x325.png", id: "logo", alt: "Quizzes Logo"), root_path %>
        </div>
    </div>
</header>