<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-10 small-offset-1 medium-6 medium-offset-1 columns">
                <ul class="side-nav">
                    <li>
                        <h4>My Courses</h4>
                    </li>
                    
                    <li>
                        <ul>
                            <% @courseTitles.each do |c| %>
                                <li>
                                    <h5><%= c.name %></h5>
                                </li>
                                
                                <li>
                                    <ul>
                                        <li></li>
                                    </ul>
                                </li>
                            <% end %> 
                        </ul>
                    </li>
                    
                    <li>
                        <h2>Clusters and Units</h2>
                    </li>
                    
                    <li>
                        <ul class="side-nav">
                            
                            <% @units.each do |u| %>
                            
                                <li><%= u.name %></li>
                            
                            <% end %>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
