<div class="row">
    <div class="small-10 small-offset-1 columns end">
        <h1 class="align-center">Welcome to Quizzes!</h1>
        
        <div class="row">
            <div class="small-3 medium-1 medium-offset-2 columns">
                <label class="right inline" for="username">Username</label>
            </div>
            
            <div class="small-9 medium-7 columns end">
                <input type="text" id="username" name="username" placeholder="Username" required />
            </div>
        </div>
        
        <div class="row">
            <div class="small-3 medium-1 medium-offset-2 columns">
                <label class="right inline" for="password">Password</label>
            </div>
            
            <div class="small-9 medium-7 columns end">
                <input type="password" id="password" name="password" placeholder="Password" required />
            </div>
        </div>
    </div>
</div>
