<h1>ApplicationPages#question</h1>


    
    <!-- New Quiz, creates a new user_quiz--->
    <% getQuestions.each do |question| %>
    
        <div class="question">
            <%= question.id %>
        </div>
            
    <% end %>

    
    
    
<p>Find me in app/views/application_pages/question.html.erb</p>
