/* General Styles */

$central-orange-hex: #FF8622; 
$central-orange-rgb: 255, 134, 34; 
$green-hex: #44C757;
$black: #333333;
$grey: #CCCCCC;
$white: #FFFFFF;

.quizzes-orange {
    color: $central-orange-hex;
}

.green {
    color: $green-hex;
}

.back-orange {
    background-color: rgba(255, 134, 34, 0.9);
}

.back-black {
    background-color: $black;
}

.align-center {
    text-align: center;
}

#logo {
    width: 80px;
    height: 80px;
}

.link {
    text-decoration: none;
}

.margin {
    margin: 0px 0px 10px 0px;
}

.padding {
    padding: 30px 0px 0px 0px;
}

/* Button Styles */

#submit:hover {
    background-color: $central-orange-hex;
    color: $white;
}

/* Header Styles */

.short-top-padding {
    padding-top: 5px;
}

/* Footer Styles */

footer .link:hover {
    color: $central-orange-hex;
}

/* Homepage Styles */

.base-ul ul {
    list-style-type: none;
}