/* General Styles */

$central-orange: #FF8622;

.quizzes-orange {
    color: $central-orange;
}

.back-orange {
    background-color: $central-orange;
}

.align-center {
    text-align: center;
}

#logo {
    width: px;
    height: 80px;
}