/* General Styles */

$central-orange-hex: #FF8622;
$central-orange-rgb: 255, 134, 34; 
$black: #333333;

.quizzes-orange {
    color: $central-orange-hex; 
}

.back-orange {
    background-color: rgba(255, 134, 34, 0.9);
}

.align-center {
    text-align: center;
}

#logo {
    width: 80px;
    height: 80px;
}

.link {
    text-decoration: none;
    color: $black;
}